@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


:root {
    --branco: #FFF;
    --cinza: #333333;
    --verde: #437223;

    --fonte-pincipal: 'Poppins', sans-serif;
}

body {
    font-family: var(--fonte-pincipal);
    font-size: 24px; 
    font-weight: 400; 
    color: var(--cinza);
}

strong {
    color: var(--verde);
}

.principal {
    display: flex;
    align-items: center;
}

.lado-direito {
    padding-right: 180px;
}

.selo {
    position: absolute;
    right: 4%;
    top: 13%;
    width: 10%;
}

.planta-pricipal {
    position: absolute;
    left: 49%;
    top: 20%;
    width: 45%
}




.lado-esquerdo {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 680px;
    background-color: #F2F2F2;
    height: 590px;
    border-radius: 0 0 20% 0;
    padding: 102px 0px 67px 64px;
}

.texto__titulo {
    font-weight: 600; 
    font-size: 56px; 
    line-height: 72px;
    letter-spacing: 0.56px; 
    text-align: left;
    padding-bottom: 32px;
}

.texto__descricao {
    font-style: normal; 
    line-height: 36px;
    width: 512px;
}


.mini-secoes__lista {
    display: flex;
}

.item-titulo {
    font-size: 22px; 
    font-weight: 600; 
    font-style: normal; 
    line-height: normal; 
    
}

.retangulo {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 0;
}

.item-descricao {
    font-size: 14px; 
    width: 107px; 
    padding-top: 8px;
    line-height: normal; 
    
}


.botao {
    background-color: var(--verde);
    color: var(--branco);
    border-radius: 40px; 
    text-align: center;
    padding: 24px 56px; 
    text-decoration: none;
    width: 293px;
}

.botao:hover {
    background-color: #82ad64;
}



.final {
    padding: 76px 65px 63px 65px;
}


.final__lista {
    display: flex;
    justify-content: space-around;
    gap: 24px
}

.item__objeto {
    border-radius: 16px;
    border: 1px solid #333;
    backdrop-filter: blur(16px); 
    display: flex;
    align-items: center;
    padding: 16px 30px;
    justify-content: center; 
    gap: 1em;
}

.objeto__descricao {
    width: 257px; 
    font-size: 16px; 
    font-style: normal; 
    line-height: normal; 
}


@media screen and (max-width: 1000px) {
    .lado-direito {
        display: none;
    }

    .lado-esquerdo {
        align-items: center;
        padding: 30%;
        border-radius: 0;
        max-width: 100vh;
    }

    .final {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;

        
    }

    .objeto__descricao {
        width: auto;
    }

    .final__lista {
        flex-direction: column;
        justify-content: center;
        width: 25rem;
        padding-left: 23rem;
    }
}